.mainImg {
    width: 100% !important;
    height: 550px;
    object-fit: cover;
}

.mainHeading {
    font-family: 'Lobster Two', cursive;
    color: #FFFF4E;
    text-shadow: -5px -5px 10px black;
    font-size: 7rem;
    font-weight: 800;
    text-align: center;
}

.subHeading {
    font-family: 'Lobster Two', cursive;
    padding: 0.5rem 1rem;
    color: black;
    font-size: 3rem;
    background-color: #ffffff;
    text-align: center;
}



@media all and (max-width: 720px) {
    /* html {
        font-size: 8px;
    } */

    .mainImg {
        height: 520px !important;
    }

    .mainHeading {
        color: #000000;
        text-shadow: 1px 1px 5px rgb(255, 255, 255);
        /* background-color: white; */
        font-size: 5rem;
    }

    .subHeading {
        width: 100%;
        padding: 0.5rem 1rem;
        color: rgb(255, 255, 255);
        background-color: #000000;
    }
}

@media all and (max-width: 480px) {
    /* html {
        font-size: 5px;
    } */

    .mainImg {
        height: 480px !important;
    }

    .mainHeading {
        color: #000000;
        padding: 0rem 0.5rem;
        font-size: 6.5rem;
    }

    .subHeading {
        font-size: 4rem;
    }
}