.nav {
    /* background-color: red; */
    border: solid;
    display: flex;
    justify-content: space-around;
}

.nav1 {
    font-size: 2rem;
}

.nav2 {
    font-size: 2rem;
}

.nav2 a {
    margin: 10px;
}